<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="location" value="C:\Users\tuna_\Documents" />
    <add key="logLocation" value="C:\Users\tuna_\Documents" />
    <!--Gerek kalmadi-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>